.card-form-user
{
    position: relative;
    top: 5%;
    width: 400px !important;
    border: 1px ;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

.table-user{
    margin-top: 40px;
}

.button-accion{
    background-color: transparent;
    border-color: transparent;
}