.botton-sesion {
    color: azure;
}

.text-color{
    color: azure;
}

.navbar {
    width: 100vw !important;
    background-color: black !important;
    align-items: center;
}

.icon-salida{
    color: white;
}

.icon-salida:hover{
    color: gray;
}

.img{
    width: 30px ;
    margin-left: -2%;
    height: 50px;
}

.img:hover{
    color: grey;
}