.resumenTotales{
    background-color: rgb(32, 32, 32);
    padding: 5px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: beige;
    align-items: center;
}

.acordeonTotales button{
    background-color: rgb(32, 32, 32);
    color: beige;
}

button .accordion-button {
    background-color: rgb(32, 32, 32);
    color: beige;
}

.resumenTotal{
    align-items: center;
    text-align: center;
}

.card-form-proyectos
{
    position: relative;
    top: 5%;
    width: 400px !important;
    border: 1px ;
    border-style: hidden;
    border-radius: 10px;
    margin: 5px;
}

.label-title-proyecto {
    font-size: 15px;
    font-weight: bold;
}

.button-ver-mas{
    border-color: transparent;
    background-color: transparent;
}

.icon-detalle{
    color: black;
}

.icon-detalle:hover{
    color: grey;
}

.text_select{
    color: black;
}